body {
  font-family: Verdana, Tahoma, sans-serif;
}

header {
  text-align: center;
  margin: auto auto;
  width: 90%;
  max-width: 700px;
}

#description {
  font-style: italic;
  font-size: 1.3rem;
  opacity: 0.8;
}

form {
  margin: auto auto;
  width: 90%;
  max-width: 700px;
  /* border: 3px solid aqua; */
  background-color: rgba(12, 11, 43, 0.5);
  /* display: block; */
  padding: 2%;
}

#name,
#email,
#number,
select {
  display: block;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 0%;
  margin-left: 5%;
}

fieldset > label {
  display: block;
  margin-left: 1%;
}

#comment {
  width: 90%;
  margin-left: 5%;
  height: 100px;
}

#submit {
  width: 90%;
  margin-left: 5%;
  height: 30px;
  font-size: 1.3rem;
  background-color: rgba(172, 255, 47, 0.479);
}
